openapi: 3.0.3
info:
  title: APIPark AI Models Services API
  description: The APIPark API provides programmatic access to manage the APIPark AI gateway and developer portal, including AI model integration, service management, team administration, and API publishing workflows.
  version: 1.0.0
  contact:
    url: https://apipark.com/
servers:
- url: https://api.apipark.com/v1
  description: APIPark API
security:
- apiKey: []
tags:
- name: Services
paths:
  /services:
    get:
      operationId: listServices
      summary: List Services
      description: List all API services published in the APIPark developer portal.
      tags:
      - Services
      responses:
        '200':
          description: List of services
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Service'
              examples:
                default:
                  $ref: '#/components/examples/ServiceListExample'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createService
      summary: Create Service
      description: Create a new API service in the APIPark developer portal.
      tags:
      - Services
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequest'
            examples:
              default:
                $ref: '#/components/examples/ServiceRequestExample'
      responses:
        '201':
          description: Service created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
              examples:
                default:
                  $ref: '#/components/examples/ServiceExample'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  examples:
    ServiceExample:
      value:
        id: svc_abc123
        name: Sentiment Analysis API
        description: AI-powered sentiment analysis combining GPT-4o with custom prompts
        teamId: team_xyz
        status: published
        tags:
        - ai
        - nlp
        - sentiment
        createdAt: '2026-01-15T10:00:00Z'
    ServiceListExample:
      value:
      - id: svc_abc123
        name: Sentiment Analysis API
        description: AI-powered sentiment analysis combining GPT-4o with custom prompts
        teamId: team_xyz
        status: published
        tags:
        - ai
        - nlp
        - sentiment
        createdAt: '2026-01-15T10:00:00Z'
    ServiceRequestExample:
      value:
        name: Sentiment Analysis API
        description: AI-powered sentiment analysis combining GPT-4o with custom prompts
        teamId: team_xyz
        tags:
        - ai
        - nlp
        - sentiment
  schemas:
    Service:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the service
        name:
          type: string
          description: Name of the API service
        description:
          type: string
          description: Description of the service
        teamId:
          type: string
          description: Team that owns this service
        status:
          type: string
          enum:
          - draft
          - published
          - deprecated
          description: Publication status of the service
        tags:
          type: array
          items:
            type: string
          description: Tags for the service
        createdAt:
          type: string
          format: date-time
      required:
      - id
      - name
      - teamId
    ServiceRequest:
      type: object
      properties:
        name:
          type: string
          description: Name of the API service
        description:
          type: string
          description: Description of the service
        teamId:
          type: string
          description: Team identifier
        tags:
          type: array
          items:
            type: string
      required:
      - name
      - teamId
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
